#tracklist {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

#tracklist tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.561);
}

#tracklist td {
    padding: 0px 0px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
}

tr:first-child td {
    border-bottom: 1px solid white;
}

#album-title img {
    gap: 10px;
    width: 90px;
    /* margin-left: auto; */
    display: block;
    justify-self: end;
}

#album-title {
    display: grid;
    grid-template-columns: 1fr 95px 95px;
    align-items: center;
}