/* Navbar & header */
.vertical-separator {
    width: 2px;
    height: 50px;
    background-color: #F02E40;
    border: 5px;
    margin-left: 8px;
}

header {
    background-color: #1CA452;
    height: 77px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    position: fixed;
    top: 0;
}
header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

header > a, header > a > img {
    height: 70px;
    width: 70px;
}

nav {
    height: 100%;
}

nav img {
    width: 60px;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding-left: 0px;
}

nav ul > li {
    display: inline;
    margin-left: 20px;
}

nav > ul > li > a {
    display: flex;
    align-items: center;
}

nav li span {
    margin-left: 10px;
}

/* Body & main */
body {
    background-color: black;
    width: 100%;
    height: 1vmax;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 130px 50px 50px 50px;
    padding: 10px;
    color: white;
    background-color: rgba(217, 217, 217, 0.31);
    border-radius: 5px;
}

main p {
    margin: 10px 0px
}

.ref-link, .ref-link:visited {
    color: white;
    font-style: italic;
}

.source {
    color: beige;
    font-style: italic;
    font-size: 14px;
    font-family: monospace;
}

.pictures {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 250px auto;
    grid-auto-flow: column;
    justify-items: center;
    font-style: italic;
    margin: 30px 0px;
    text-align: center;
}

.pictures img {
    height: 250px;
}