main ul > li {
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(128, 128, 128, 0.561);
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}

main ul {
    padding: 0;
}

.concert-place {
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
}

.concert-date {
    grid-row: 2;
    grid-column: 1;
    font-style: italic;
    font-size: 15px;
}

.concert-name {
    font-size: 18px;
    font-weight: bold;
    grid-row: 1 / 3;
    grid-column: 2;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.date-reservation {
    grid-row: 1 / 3;
    grid-column: 3;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.date-reservation input {
    height: 18px;
    width: 30px;
    margin-left: 3px;
}

#billing {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 20px;
    align-items: center;
}

.popup {
    display: none;
    position: fixed;
    background-color: #2F1D9A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:41;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4); 
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 4px 5px 20px 5px;
    border-left: #1CA452 8px solid;
    border-right: #F02E40 8px solid;
    color: white;
}
#checkout-box {
    min-width: 300px;
    width: 25%;
}

#checkout-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#checkout-box input {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    width: 180px;
    text-align: center;
}

#checkout-box input:focus-visible, #checkout-box input:focus {
    background-color: #CCCAC9;
    color: black;
    border: none;
    padding: 5px;
    width: 190px;
    transition: 0.2s;
}

.visible-popup {
    display: block !important;
}

#pay-button {
    border-radius: 8px;
    background-color: #2F1D9A;
    padding: 7px 25px;
}

#pay-button:hover {
    background-color: #432eb9;
}

#user-data {
    position: fixed;
    right: 3px;
    color: #F02E40;
}

#close-checkout {
    position: absolute;
    right: 4px;
}

.cross-stand-alone {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 20px;
    height: 20px;
}

.cross-stand-alone:hover:before, .cross-stand-alone:hover:after {
    background: #1CA452;
}

.cross-stand-alone:before, .cross-stand-alone:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;

}
.cross-stand-alone:before {
    transform: rotate(45deg);
}

.cross-stand-alone:after {
    transform: rotate(-45deg);
}

.cross-stand-alone span {
    display: block;
}
